node_modules
.DS_Store
.pnpm-store
dist/
dist-ssr
/build/
/api/
/server/build
/public/build
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
apps/cli/server/
.vinxi
todos.json

.ringi/
*-ringi-*.tgz
ringi-*.tgz